:root{
    --CB:'Comfortaa-bold';
    --CR:'Comfortaa-Regular';
    --MR:'Montserrat-Regular';
    --MB:'Montserrat-Bold';
    --RR:'Roboto-Regular';
    --RM:'Roboto-Medium';
    --white: #FFFFFF;
    --grey: #C8C8C8;
    --orange:#F18128;
    --blue:#040D1F;
    --black:#000000;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: var(--blue);
}
.logo__span{
    font-size: 18px;
    line-height: 20px;
    color: var(--white);
    font-family: var(--CB);
}
.btn{
    background: var(--blue);
    font-size: 14px;
    line-height: 12px;
    color: var(--white);
    font-family: var(--RM);
    border-radius: 4px;
    max-width: 166px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 300ms, color 300ms;
}
.btn:hover{
    background: var(--orange);
    color: var(--black);
}

.title{
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--orange);
    font-family: var(--CR);
    width: max-content;
    margin: 55px 0;
}
.title::after{
    margin-top: 10px;
    content: '';
    display: flex;
    height: 2px;
    background: var(--orange);
}

::-webkit-scrollbar{
    width: 11px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, var(--orange), purple);
    border-radius: 50px;
}

/* Root end */
/* ////////////////////////////// */



/* header start */
/* ////////////////////// */

.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header__prenav{
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
} 
.header__prenav-icon{
    margin-right: 24px;
    font-size: 50px;
}

.header__prenav-text{
    font-size: 16px;
    line-height: 18px;
    font-family: var(--CR);
    max-width: 166px;
    width: 100%;
}


.header__nav{
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(15px);
    padding: 30px 0;
}
.header__nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.header__nav-list{
    display: flex;
    column-gap: 30px;
    height: 100%;
 
}
.header__nav-link{
    line-height: 17px;
    font-size: 14px;
    color: var(--white);
    height: 100%;
    font-family: var(--MR);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;  
    transition: color 300ms;
}
 
.header__nav-link::after{
    content: '';
    display: block;
    height: 2px;
    background: var(--orange);
    border-radius: 3px 3px 0px 0px; 
    width: 0%;
    position: absolute;
    bottom: 0; 
    transition: width 300ms;
}
.header__nav-link:hover{
    color: var(--orange);
  
}
.header__nav-link:hover::after{
    width: 100%;
}
 
.header__content{
    position: relative;
    flex-grow: 1;
    background: rgba(7, 15, 25, 0.75);
    display: flex;
    align-items: center;
}
.header__content > img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}
.header__content-title{
    font-size: 64px;
    line-height: 78px;
    color: var(--white);
    font-family: var(--MB);
}

.header__content-text{
    color: var(--grey);
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    margin: 30px 0 50px 0;
    max-width: 570px;
    width: 100%;
    font-family: var(--MR);
}
.header__content-btns{
    display: flex;
    column-gap: 30px;
}
.header__nav-btn{
    font-size: 40px;
    color: var(--white);
    display: none;
}

/* header end */
/* ////////////////////// */





/* main start */
/* ////////////////////// */
.section__films{
    margin-bottom: 77px;
}
.films__box{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-auto-rows: 370px;
    gap: 30px;
}

.films__box-item{
    position: relative;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 14px 18px 14px;
    overflow: hidden;
    
}
.films__box-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
    transition: 300ms;
}

.films__box-play{
    font-size: 45px;
    color: var(--white);
    margin-bottom: 12px;
}


.films__box-time{
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid var(--white);
    border-radius: 9px;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 10px;
    color: var(--white);
    font-family: var(--MR);
    padding: 7px 0;

}

.films__box-title{
    font-size: 22px;
    line-height: 27px;
    color: var(--white);
    font-family: var(--MR);
    margin-top: 38px;
    margin-bottom: 12px;
    font-weight: 400;
}

.films__box-text{
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    font-family: var(--RR);
    max-height: 140px;
    overflow: auto;
}
.films__box-text::-webkit-scrollbar-thumb{
    background: transparent;
}

.films__box-item:hover .films__box-img{
    transform: scale(1.2);
}

.section__intro{
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    padding-top: 42px;
    padding-bottom: 80px;
    position: relative;
}
.section__video{
    position: absolute;
    top:0;
    right: 0;
    z-index: -2;
    height: 100%;
    
}
.section__video-film{
    height: 100%;
}
.section__intro-text{
    font-size: 18px;
    line-height: 27px;
    color: var(--black);
    font-family: var(--RR);
    text-align: justify;
    max-width: 558px;
    width: 100%;
    margin: 50px 0;
}

.section__collection-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    grid-auto-rows: minmax(200px, auto);

}

.section__collection-img{
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    transition: 300ms;
}
.section__collection-item{
    position: relative;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    overflow: hidden;
}

.section__collection-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.section__collection-title{
    color: var(--white);
    font-size: 20px;
    line-height: 22px;
    font-family: var(--CB);
    margin-top: 15px;
}

.section__collection-info::before{
    content: '';
    display: block;
    background: url(../images/boxes.png) no-repeat;
    width: 20px;
    height: 90%;
    position: absolute;
    left: 7px;
    top: 12px;
    transition: 300ms;
}
.section__collection-info::after{
    content: '';
    display: block;
    background: url(../images/boxes.png) no-repeat;
    width: 20px;
    height: 90%;
    position: absolute;
    right: 7px;
    top: 12px;
    transition: 300ms;
}

.section__collection-item:hover .section__collection-img{
    transform: scale(1.2);
}

.section__collection-item:hover .section__collection-info::before{
    transform: translateY(-200%) scale(1.5);
}
.section__collection-item:hover .section__collection-info::after{
    transform: translateY(200%) scale(1.5);
}

.section__series-catalog{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(190px, auto);
    gap: 30px;
}
.section__series-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    border-radius: 6px;
    overflow: hidden;
}
.section__series-img{
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms;
}
.section__series-title{
    font-size: 24px;
    line-height: 27px;
    color: var(--white);
    font-family: var(--CB);
    margin-top: 20px;
}
.section__series-item:nth-of-type(6n+1){
    grid-column: span 4;
    grid-row: span 2;
    padding: 0 22px;
}
.section__series-item:nth-of-type(6n+2){
    grid-column: span 2;
    grid-row: span 2;
}
.section__series{
    margin-top: 63px;
}
.section__series-text{
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    font-family: var(--CR);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 27px;
    max-height: 150px;
    overflow: auto;
}
.section__series-item:nth-of-type(6n+1) .section__series-title{
    font-size: 40px;
    line-height: 45px;
}

.section__series-item:hover .section__series-img{
    transform: scale(1.2);
}

.section__intro-img{
    max-width: 100%;
}

/* main end */
/* ////////////////////// */





/* footer start */
/* ////////////////////// */


.footer{
    margin-top: 60px;
    background: var(--orange);
    padding: 25px 0;
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);

}

.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}

 .footer__left{
    display: flex;
    column-gap: 50px;
 }
.footer__right-text{
    font-size: 18px;
    line-height: 20px;
    font-family: var(--CB);
    color:var(--white) ;
}
.footer__left-img{
    object-fit: contain;
}



/* footer end */
/* ////////////////////// */

/* media start */

@media (max-width:1140px){
    .films__box{
        grid-template-columns: repeat(2,1fr);
    }
    .section__collection-box{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:950px){
    .section__series-item{
        grid-column: span 4;
        grid-row: span 2;
    }
    .section__series-item:nth-of-type(6n+2){
        grid-column: span 4;
        grid-row: span 2;
    }
}
@media(max-width:700px){
    .footer__content{
        flex-direction: column;
        row-gap: 30px;
    }
    .header__nav-list{
        display: none;
    }
    .header__nav-btn{
        display: block;
    }
}
@media(max-width:576px){
    .films__box{
        grid-template-columns: 1fr;
    }
    .section__collection-box{
        grid-template-columns: 1fr;
    }
    .header__content-title{
        font-size: 36px;
        text-align: center;
        line-height: 36px;
       
    }
    .section__series-item:nth-of-type(6n+1) .section__series-title{
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }
}